[profile backblaze]
credential_process = "{{ .chezmoi.homeDir }}/.local/bin/aws-gopass" terraform/state_backblaze_id terraform/state_backblaze_secret
endpoint_url = https://s3.eu-central-003.backblazeb2.com
region = eu-north-1
