[Unit]
Description=Caddy Reverse Proxy
ConditionPathExists={{ .chezmoi.homeDir }}/.local/bin/caddy
ConditionPathExists={{ .chezmoi.homeDir }}/.config/caddy/Caddyfile

[Service]
Restart=always
# Silence errors
StandardOutput=null
StandardError=null
ExecStart={{ .chezmoi.homeDir }}/.local/bin/caddy run --config {{ .chezmoi.homeDir }}/.config/caddy/Caddyfile

[Install]
WantedBy=default.target
