[Unit]
Description=Clipboard manager for text on Wayland
Documentation=https://github.com/sentriz/cliphist
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type text --watch cliphist store

[Install]
WantedBy=sway-session.target
