[Unit]
Description=DreSRV GPG Forwarding
After=dresrv-online.target
BindsTo=dresrv-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=ssh dresrv.com-gpg 'while true; do sleep 5; done'

[Install]
WantedBy=default.target
