[Unit]
Description=Tunnel Ports to DreSRV
After=caddy.service
Requires=caddy.service
After=dresrv-online.target
BindsTo=dresrv-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=ssh -N prom-tunnel

[Install]
WantedBy=dresrv-online.target
