[Unit]
Description=Dunst notification daemon
Documentation=man:dunst(1)
BindsTo=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart={{ .chezmoi.homeDir }}/.local/bin/dunst-launch

[Install]
WantedBy=graphical-session.target
