[Unit]
Description=Nextcloud client
Documentation=man:nextcloud(1)
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nextcloud --background

[Install]
WantedBy=graphical-session.target
