[Unit]
Description=Steam
BindsTo=graphical-session.target

[Service]
Type=simple
Restart=always
RestartSec=5m
ExecStart=/usr/bin/steam -silent

[Install]
WantedBy=graphical-session.target
