[Unit]
Description=Swayidle daemon
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=swayidle -w \
    timeout 10 'if pgrep -x swaylock; then swaymsg output "*" dpms off; fi' \
    timeout 590 '${HOME}/.local/bin/my-screenlock' \
    timeout 600 'swaymsg output "*" dpms off' \
    resume 'swaymsg output "*" dpms on' \
    before-sleep '${HOME}/.local/bin/my-screenlock' \
    after-resume 'swaymsg output "*" dpms on'

[Install]
WantedBy=sway-session.target
