[Unit]
Description=Tunnel Ports to DreSRV

[Service]
Restart=always
RestartSec=5
ExecStartPre=bash -c "while ! ping -c 1 -W 1 dresrv.com; do sleep 1; done"
ExecStart=ssh -N -q \
{{- if eq .chezmoi.hostname "desktop" }}
{{- /* Node Exporter */}}
    -R 65001:localhost:9100 \
{{- /* Aquaero Exporter */}}
    -R 65002:localhost:2782 \
{{- /* Nvidia Exporter */}}
    -R 65003:localhost:9401 \
{{- /* FAH Exporter */}}
    -R 65004:localhost:9659 \
{{- else }}
{{- /* Node Exporter */}}
    -R 65101:localhost:9100 \
{{- end }}
    -i {{ .chezmoi.homedir }}/.ssh/id_ed25519.prom \
    prom-tunnel@dresrv.com

[Install]
WantedBy=default.target
