[Unit]
Description=Start Workstation GPG Forwarding
After=ws-online.target
BindsTo=ws-online.target

[Service]
Restart=always
RestartSec=5
ExecStartPre=-ssh ws 'rm -fv /run/user/1000/gnupg/S.gpg-agent'
ExecStart=ssh ws-gpg 'while true; do sleep 1; done'
ExecStartPost=-ssh ws 'rm -fv /run/user/1000/gnupg/S.gpg-agent'

[Install]
WantedBy=default.target
