[Unit]
Description=Workstation GPG Forwarding
After=ws-online.target
BindsTo=ws-online.target

[Service]
Restart=always
RestartSec=5
# Ensure directories are setup
ExecStartPre=-ssh ws 'gpg -K &>/dev/null'
ExecStart=ssh ws-gpg 'while true; do sleep 5; done'

[Install]
WantedBy=ws-online.target
