[Unit]
Description=Workstation Proxy
After=ws-online.target
BindsTo=ws-online.target

[Service]
Restart=always
RestartSec=5
ExecStart=ssh ws-socks 'while true; do sleep 5; done'

[Install]
WantedBy=default.target
