# /home/andrei/.config/tmuxinator/hjd.yml

name: hjd
root: ~/

windows:
  - main:
      layout: d445,147x35,0,0[147x17,0,0,5,147x12,0,18,6,147x4,0,31,7]
      panes:
        - htop -d10
        - journalctl -f
        - tail -f {{ .discord_log }}
