# /home/andrei/.config/tmuxinator/hjd.yml

name: hjd
root: ~/

windows:
  - main:
      layout: 2ff7,147x38,0,0[147x17,0,0,0,147x11,0,18,1,147x8,0,30,2]
      panes:
        - htop -d10
        - journalctl -f
        - tail -f {{ .discord_log }}
