# /home/andrei/.config/tmuxinator/htop-journal.yml

name: htop-journal
root: ~/

windows:
  - htop:
      layout: even-vertical
      panes:
        - htop -d10
        - ssh root@dresrv -t htop -d10
  - journal:
      layout: even-vertical
      panes:
        - journalctl -f
        - ssh andrei@dresrv -t journalctl -f
