{
{{- $is_windows := eq .chezmoi.os "windows" }}
{{- $is_desktop := eq .chezmoi.hostname "desktop" }}
{{- $is_mac := eq .chezmoi.os "darwin" }}
{{- $is_linux := eq .chezmoi.os "linux" }}
{{- $is_laptop := or (contains "laptop" .chezmoi.hostname) $is_mac }}
{{- $is_server := and (not $is_desktop) (not $is_mac) (not $is_laptop) }}
  "diff": {
    "exclude": ["scripts"]
  },
  "data": {
    "is": {
      "desktop": {{ $is_desktop }},
      "laptop": {{ $is_laptop }},
      "linux": {{ $is_linux }},
      "mac": {{ $is_mac }},
      "root": {{ eq .chezmoi.username "root" }},
      "server": {{ $is_server }},
      "windows": {{ $is_windows }},
      "wsl": {{ if $is_linux }}{{ if (get .chezmoi "kernel" )}}{{ hasSuffix "Microsoft" .chezmoi.kernel.osrelease }}{{ end }}{{ else }}false{{ end }}
    },
    "session_desktop": {{ if $is_server }}""{{ else }}{{ default "i3" (env "XDG_SESSION_DESKTOP") | quote }}{{ end }},
    "default_browser": {{ if $is_laptop }}"firefox-work.desktop"{{ else }}"firefox.desktop"{{ end }},
{{- if not $is_windows }}
    "less_mouse": {{ contains "--mouse" (output "less" "--help") }},
{{- end }}
    "font_size": {
      "alacritty": {{ if $is_mac }}14.0{{ else }}11.0{{ end }},
      "sublime": {{ if $is_mac }}15{{ else }}12{{ end }},
      "zed_ui": 15,
      "zed": {{ if $is_mac }}15{{ else }}14{{ end }}
    },
    "kitty": {
      "font_size": {{ if $is_mac }}14.0{{ else }}11.0{{ end }},
      "remember_window_size": "no"
    },
    "ssh": {
      "include_work": {{ $is_laptop }},
      "include_servers": {{ or $is_laptop $is_desktop $is_server }},
      "use_work": {{ $is_laptop }}
    },
    "gpg": {
      "default_key": "main",
      "main": "273D94492E01567B",
      "work": "E722A2976226F594",
      "keyserver": "hkp://keyserver.ubuntu.com",
      "use_agent": false,
      "no_autostart": {{ $is_server }}
    },
    "kanshi": {
      "home_no_edp": true
    },
{{- if lookPath "sway" }}
{{- $sway_version := (index (output "sway" "--version" | splitList " ") 2) | trim }}
    "sway": {
      "hidpi": {{ eq (output "sh" "-c" "swaymsg -p xwayland scale 0.5 || true" | trim) "Error: Invalid scale." }},
      "monitors": {
{{- if semverCompare "<1.8" $sway_version }}
        "home1": "Unknown Gigabyte M32U 21311B001327",
        "home3": "Goldstar Company Ltd LG TV 0x00000101",
{{- else }}
        "home1": "GIGA-BYTE TECHNOLOGY CO., LTD. Gigabyte M32U 21311B001327",
        "home3": "LG Electronics LG TV 0x00000101",
        "work2": "Samsung Electric Company LS27A800U HNMTA00225",
{{- end }}
        "home2": "Samsung Electric Company U24E850 HTHH300363",
        "work1": "Lenovo Group Limited L32p-30 U511L1X2"
      }
    },
{{- end }}
    "source": [
{{- if not $is_windows }}
      "{{ .chezmoi.homeDir }}/.zprezto/init.zsh",
      "{{ .chezmoi.homeDir }}/.cargo/env",
      "/opt/homebrew/opt/fzf/shell/completion.zsh",
      "/opt/homebrew/opt/fzf/shell/key-bindings.zsh",
      "/usr/local/opt/fzf/shell/completion.zsh",
      "/usr/local/opt/fzf/shell/key-bindings.zsh",
      "/usr/share/doc/git-extras/git-extras-completion.zsh",
      "/usr/share/fzf/completion.zsh",
      "/usr/share/fzf/key-bindings.zsh",
      "/usr/share/doc/fzf/examples/completion.zsh",
      "/usr/share/doc/fzf/examples/key-bindings.zsh",
      "/usr/share/fzf/shell/key-bindings.zsh",
      "/usr/share/zsh/site-functions/_podman",
      "/usr/share/zsh/site-functions/fzf",
      "/usr/bin/aws_zsh_completer.sh"
{{- end }}
    ]
  }
}
