{
 "data": {
  "romsto": {
   "domain": "",
   "ssh_port": ""
  },
  "dresrv": {
   "domain": "",
   "local_ip": "",
   "ssh_port": "",
   "use_domain": false
  },
  "git": {
   "private_email": "",
   "private_name": "",
   "public_email": "",
   "public_name": ""
  },
  "check": {
   "exec": [],
   "files": {},
   "ignore_config": [],
   "source": []
  },
  "work": {
   "git_name": "",
   "git_email": "",
   "git_url": "",
   "ws_name": ""
  }
 }
}