{
 "data": {
  "romsto": {
   "domain": "",
   "ssh_port": ""
  },
  "dresrv": {
   "domain": "",
   "local_ip": "",
   "ssh_port": "",
   "use_domain": false
  },
  "git": {
   "main_email": "",
   "main_name": "",
   "main_key": "",
   "alt_email": "",
   "alt_name": ""
  },
  "check": {
   "exec": [],
   "files": {},
   "ignore_config": [],
   "source": []
  },
  "work": {
   "git_name": "",
   "git_email": "",
   "git_key": "",
   "git_url": "",
   "ws_name": ""
  }
 }
}