[data]

  [data.log_files]
    discord = ""
    twitch_rec = ""
    twitch_enc = ""

  [data.romsto]
    domain = ""
    ssh_port = ""

  [data.dresrv]
    domain = ""
    local_ip = ""
    ssh_port = ""
    use_domain = false

  [data.git]
    private_email = ""
    private_name = ""
    public_email = ""
    public_name = ""

  [data.check]
    exec = []
    source = []
