{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
! Fonts {{"{{{"}}
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       {{ if $is_desktop }}144{{ else }}192{{- end }}
! }}}
