# Execute code that does not affect the current session in the background.
{
  # Compile the completion dump to increase startup speed.
  zcompdump="${ZDOTDIR:-$HOME}/.zcompdump"
  if [[ -s "$zcompdump" && (! -s "${zcompdump}.zwc" || "$zcompdump" -nt "${zcompdump}.zwc") ]]; then
    zcompile "$zcompdump"
  fi
} &!


#
# Editors
#

export EDITOR='vim'
export VISUAL='vim'
export PAGER='less'

#
# Language
#

if [[ -z "$LANG" ]]; then
  export LANG='en_US.UTF-8'
fi

#
# Paths
#

# Ensure path arrays do not contain duplicates.
typeset -gU cdpath fpath mailpath path

# Set the list of directories that cd searches.
# cdpath=(
#   $cdpath
# )

# Set the default Less options.
{{- if .less_mouse }}
export LESS='-F -g -i -M -R -S -w -X -z-4 --mouse --wheel-lines 4'
{{- else }}
export LESS='-F -g -i -M -R -S -w -X -z-4'
{{- end }}

# Set the Less input preprocessor.
# Try both `lesspipe` and `lesspipe.sh` as either might exist on a system.
if (( $#commands[(i)lesspipe(|.sh)] )); then
  export LESSOPEN="| /usr/bin/env $commands[(i)lesspipe(|.sh)] %s 2>&-"
fi

export PYENV_ROOT={{ if stat "/opt/pyenv/bin" }}"/opt/pyenv"{{ else }}"$HOME/.pyenv"{{ end }}

_search_path=(
    "$HOME/.local/bin"
    "$HOME/.cargo/bin"
    "$HOME/go/bin"
    "$PYENV_ROOT/bin"
    /usr/local/{bin,sbin}
    {/,/usr/}{bin,sbin}
    $path
)

# Reset PATH
path=()

for d in $_search_path; do
    [[ ! -d $d ]] && continue
    # Resolve absolute path
    d=$(cd "$d"; pwd -P)
    if (( ! ${path[(I)$d]} )); then
        path=($path $d)
    fi
done
unset _search_path
if command -v pyenv &>/dev/null; then
    [[ $(pyenv --version) =~ "pyenv 2." ]] && eval "$(pyenv init --path)"
    export PYENV_VIRTUALENV_DISABLE_PROMPT=1
else
    unset PYENV_ROOT
fi
{{- if .is.wsl }}
if [[ -n ${WSL_AGENT_HOME} ]]; then
    export GNUPGHOME=${WSL_AGENT_HOME}
    export SSH_AUTH_SOCK=${WSL_AGENT_HOME}/S.gpg-agent.ssh
fi
export GDK_SCALE=2
export QT_SCREEN_SCALE_FACTORS=2
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export DISPLAY=localhost:0.0
{{- else if .is.mac }}
{{- if stat "/usr/local/bin/brew" }}
eval $(/usr/local/bin/brew shellenv)
{{- else if stat "/opt/homebrew/bin/brew" }}
eval $(/opt/homebrew/bin/brew shellenv)
{{- end }}
# Fix Ansible crash
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
{{- else if not .is.root }}
{{- if and (lookPath "vagrant") (lookPath "libvirtd") }}
export VAGRANT_DEFAULT_PROVIDER=libvirt
{{- end }}
{{- if or (lookPath "startx") (lookPath "sway") }}
[[ -z "$DISPLAY" && $(systemctl get-default) = "graphical.target" && "$(tty)" = /dev/tty1 ]] && exec ~/.local/bin/start-gui &> ~/.cache/start-gui.log
{{- end }}
{{- if lookPath "gnome-keyring-daemon" }}
if [[ -z $SSH_AUTH_SOCK ]]; then
  eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
  export SSH_AUTH_SOCK
fi
{{- end }}
{{- end }}
