{{ range .source }}{{ if stat . }}
source {{ . -}}
{{ end }}{{- end }}
{{- if .is.truenas }}
source ~/.zprofile
{{- end }}

[[ -d ~/.zsh/completion ]] && fpath=(~/.zsh/completion $fpath) && autoload -Uz compinit && compinit -i

# Don't save failed commands
zshaddhistory() { whence ${${(z)1}[1]} >| /dev/null || return 1 }
setopt hist_ignore_dups
setopt hist_expire_dups_first
unsetopt correct

# Confirm function
confirm () {
    echo -n "Confirm $1 on ${HOST}? "
    read reply

    case $reply in
        [Yy]* ) $1 "${@:2}";;
        * ) echo "$* cancelled";;
    esac
}

{{- if lookPath "dotnet" }}
_dotnet_zsh_complete()
{
    local completions=("$(dotnet complete "$words")")

    reply=( "${(ps:\n:)completions}" )
}

compctl -K _dotnet_zsh_complete dotnet
{{- end }}

[[ $commands[kubectl] ]] && source <(kubectl completion zsh)

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh


if command -v pyenv &>/dev/null; then
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"

    pyenv-replace () {
        [[ $# -lt 2 ]] && echo "Usage: pyenv-replace <venv> <version>" && return
        pyenv install -s "$2" || return
        pyenv uninstall -f "$1" || return
        pyenv virtualenv "$2" "$1" || return
        pyenv activate "$1" || return
        python3 -m pip install -U pip wheel setuptools || return
        [[ -f "requirements.txt" ]] && python3 -m pip install -U -r requirements.txt
        [[ -f "requirements_dev.txt" ]] && python3 -m pip install -U -r requirements_dev.txt
    }
fi

# https://github.com/ned300889/i3-configs/blob/master/zshrc
fed() {
  vim -p -o $(find . -type f  | fzf -m --preview '[[ $(file --mime {}) =~ binary ]] && echo {} is a binary file || bat --style=numbers --color=always {}' --bind "ctrl-f:preview-page-down,ctrl-b:preview-page-up,ctrl-q:abort")
}

fli() {
  fzf -m --preview --bind "ctrl-f:preview-page-down,ctrl-b:preview-page-up,ctrl-q:abort" '[[ $(file --mime {}) =~ binary ]] && echo {} is a binary file || bat --style=numbers --color=always {}' | xargs ls -lha
}

# https://gist.github.com/junegunn/f4fca918e937e6bf5bad#gistcomment-2731105

fgh() {
  git log $1 --graph --color=always --format="%C(auto)%h%d %s %C(black)%C(bold)%cr"  | \
   fzf --ansi --no-sort --reverse --tiebreak=index --preview \
   'f() { set -- $(echo -- "$@" | grep -o "[a-f0-9]\{7\}"); [ $# -eq 0 ] || git show --color=always $1 ; }; f {}' \
   --bind "alt-y:execute:echo {} | grep -o '[a-f0-9]\{7\}' | head -1 | xclip" \
   --bind "ctrl-f:preview-page-down,ctrl-b:preview-page-up,ctrl-q:abort,ctrl-m:execute:
                (grep -o '[a-f0-9]\{7\}' | head -1 |
                xargs -I % sh -c 'git show --color=always % | less -R') << 'FZF-EOF'
                {}
FZF-EOF" --preview-window=right:60%
}

# Aliases

alias reboot='confirm reboot'
alias poweroff='confirm poweroff'
alias shutdown='confirm shutdown'
alias cpp='rsync -avh --no-compress --progress'
alias mvp='rsync -avh --no-compress --progress --remove-source-files'
alias git-alt='git config user.email "{{ .git.alt_email }}" && git config user.name "{{ .git.alt_name }}"'
alias git-main='git config user.email "{{ .git.main_email }}" && git config user.name "{{ .git.main_name }}" && git config user.signingkey "{{ .gpg.main }}"'
alias git-work='git config user.email "{{ .work.git_email }}" && git config user.name "{{ .work.git_name }}" && git config user.signingkey "{{ .gpg.work }}"'
alias git-sign='git config commit.gpgsign true'
alias git-no-sign='git config commit.gpgsign false'
alias pip-req='python3 -m pip install -U pip wheel setuptools && python3 -m pip install -U -r requirements.txt'
alias pip-req-dev='python3 -m pip install -U -r requirements_dev.txt'
alias ssh-nh='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
alias scp-nh='scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no'
alias ssh-nk='ssh -o PreferredAuthentications=password -o PubkeyAuthentication=no'
alias tmux-ssh-sock='eval $(tmux showenv -s SSH_AUTH_SOCK)'
{{- if and .is.linux (not .is.server) (not .is.root) (lookPath "bluetoothctl") }}
alias bt-mx='bluetoothctl power on && bluetoothctl connect 04:5D:4B:52:86:4B'
alias bt-buds='bluetoothctl power on && bluetoothctl connect F4:7D:EF:0C:BE:02'
alias bt-jabra='bluetoothctl power on && bluetoothctl connect 30:50:75:11:EF:92'
alias bt-edifier='bluetoothctl power on && bluetoothctl connect 60:F4:3A:71:1A:BA'
alias bt-on='bluetoothctl power on'
alias bt-off='bluetoothctl power off'
{{- end }}
{{- range $k, $v := .files }}
alias logs-{{ $k }}='tail -f {{ $v }}'
{{- end }}
{{- if lookPath "docker" }}
alias dls='docker container ls -a --format "table {{ "{{.Names}}" }}\t{{ "{{.Status}}" }}\t{{ "{{.RunningFor}}" }}\t"'
alias dports='docker container ls -a --format "table {{ "{{.Names}}" }}\t{{ "{{.Ports}}" }}"'
alias dlog='docker logs -f'
alias dex='docker exec -t'
alias dsti='docker container start -i'
{{- end }}
{{- if lookPath "podman" }}
{{- if not .is.root }}
alias podman='sudo podman'
{{- end }}
alias podls='podman container ls -a --sort names --format "table {{ "{{.Names}}" }}  {{ "{{.Status}}" }}  {{ "{{.Created}}" }}"'
alias podlog='podman logs -f'
alias podex='podman exec -t'
alias podsti='podman container start -i'
{{- end }}
{{- if and (lookPath "virsh") (not .is.root) }}
alias virsh='virsh --connect qemu:///system'
alias virt-install='virt-install --connect qemu:///system'
{{- end }}
{{- if not .is.mac }}
{{- if eq .chezmoi.osRelease.id "arch" }}
alias autoremove='{{if not .is.root}}sudo {{ end }}pacman -Rcns $(pacman -Qdtq)'
{{- end }}
{{- else }}
if [[ -d /usr/local/share/zsh-completions ]]; then
    if (( ! ${fpath[(I)/usr/local/share/zsh-completions]} )); then
        fpath=(/usr/local/share/zsh-completions $fpath)
    fi
fi
if [[ -d /opt/homebrew/share/zsh/site-functions ]]; then
    if (( ! ${fpath[(I)/opt/homebrew/share/zsh/site-functions]} )); then
        fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
    fi
fi
alias ff-ws='/Applications/Firefox.app/Contents/MacOS/firefox -P ws --no-remote'
alias ff-romrt='/Applications/Firefox.app/Contents/MacOS/firefox -P romrt --no-remote'
{{- end }}
{{- if .is.root }}
alias chezmoi='chezmoi --source "/home/andrei/.local/share/chezmoi"'
alias gita='sudo -u andrei git'
alias logs-nginx='tail $(find /var/log/nginx -type f -printf " -f %p")'
{{- end }}
alias cd-chezmoi="cd $(chezmoi source-path)"
{{- if .is.ws }}
alias self-mon='tmux new -s mon "htop -d10" \; split-window "journalctl -f" \; select-layout even-vertical || tmux attach -t mon'
{{- end }}

[ ! $DISPLAY ] && export GPG_TTY=$(tty)

[[ -f ~/.config/override/zshrc ]] && source ~/.config/override/zshrc
