{{- if .is.windows }}
[gpg]
    program = C:\\Program Files (x86)\\gnupg\\bin\\gpg.exe
{{- end }}
[core]
{{- if .is.windows }}
    eol = lf
    sshCommand = C:/Program\\ Files/OpenSSH-Win64/ssh.exe
    autocrlf = false
    symlinks = true
{{- end }}
    editor = vim
[user]
    email = {{ .git.main_email }}
    name = {{ .git.main_name }}
    signingkey = {{ get .gpg .gpg.default_key }}
[alias]
{{- if .is.windows }}
    add-urls = !python '{{ .chezmoi.sourceDir | replace "\\" "\\\\" }}\\dot_local\\bin\\executable_git-add-urls'
{{- else }}
    pushall = !git remote | xargs -L1 -I R git push R master
{{- end }}
    {{/* https://stackoverflow.com/a/9726638 */}}
    cas = commit --amend --date=now -S
    lg = log --graph --oneline --decorate
    lga = log --graph --oneline --decorate --all
    lgs = log --show-signature
    rbc = rebase --continue
    rba = rebase --abort
    cpc = cherry-pick --continue
    cpa = cherry-pick --abort
    sbu = submodule update --recursive --init
[commit]
    verbose = true
    gpgsign = true
[pull]
    rebase = true
[push]
    default = current
[init]
    defaultBranch = master
[fetch]
    prune = true
    parallel = 0
[diff "ansible-vault"]
    textconv = ansible-vault view
    cachetextconv = false
[include]
    path = ~/.config/override/git
[includeIf "gitdir:~/work/**/.git"]
    path = ~/.gitconfig_work
[url "git@gitlab.dresrv.com"]
    insteadOf = git@dresrv.com
