{{- $is_windows := eq .chezmoi.os "windows" -}}
{{- if $is_windows }}
[core]
    eol = lf
    sshCommand = C:/Program\\ Files/OpenSSH-Win64/ssh.exe
    autocrlf = false
    symlinks = true
{{- end }}
[user]
	email = {{ .git.private_email }}
	name = {{ .git.private_name }}
    signingkey = 273D94492E01567B
[alias]
{{- if $is_windows }}
    add-urls = !python '{{ .chezmoi.sourceDir | replace "\\" "\\\\" }}\\dot_local\\bin\\executable_git-add-urls'
{{- else }}
    pushall = !git remote | xargs -L1 -I R git push R master
{{- end }}
[commit]
    verbose = true
[pull]
    rebase = false
