{{- $is_windows := eq .chezmoi.os "windows" -}}
{{- $is_work := eq .chezmoi.hostname .work.ws_name -}}
{{- if $is_windows }}
[core]
    eol = lf
    sshCommand = C:/Program\\ Files/OpenSSH-Win64/ssh.exe
    autocrlf = false
    symlinks = true

[gpg]
    program = C:\\Program Files (x86)\\gnupg\\bin\\gpg.exe
{{- end }}
[user]
{{- if $is_work }}
    email = {{ .work.git_email }}
    name = {{ .work.git_name }}
    signingkey = {{ .work.git_key }}
{{- else }}
    email = {{ .git.main_email }}
    name = {{ .git.main_name }}
    signingkey = {{ .git.main_key }}
{{- end }}
[alias]
{{- if $is_windows }}
    add-urls = !python '{{ .chezmoi.sourceDir | replace "\\" "\\\\" }}\\dot_local\\bin\\executable_git-add-urls'
{{- else }}
    pushall = !git remote | xargs -L1 -I R git push R master
{{- end }}
[commit]
    verbose = true
[pull]
    rebase = true
[push]
    default = current
