// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
{
  "vim_mode": false,
  "features": {
    "copilot": false
  },
  "theme": "Ayu Mirage",
  "ui_font_size": {{ .font_size.zed_ui }},
  "buffer_font_size": {{ .font_size.zed }},
  "buffer_font_family": "JetBrains Mono NL",
  "buffer_font_features": {
    "calt": false,
    "liga": false,
    "clig": false
  },
  "file_types": {
    "Ansible": [
      "**/defaults/*.yml",
      "**/group_vars/*.yml",
      "**/handlers/*.yml",
      "**/host_vars/*.yml",
      "**/meta/*.yml",
      "**/playbooks/*.yml",
      "**/tasks/*.yml",
      "**/vars/*.yml"
    ]
  },
  "languages": {
    "Terraform": {
      "formatter": {
        "external": {
          "command": "terraform",
          "arguments": ["fmt", "-"]
        }
      },
      "format_on_save": "on"
    }
  },
  "lsp": {
    "ansible-language-server": {
      "settings": {
        "ansible": {
          "path": "ansible"
        },
        "executionEnvironment": {
          "enabled": false
        },
        "python": {
          "interpreterPath": "python3"
        },
        "validation": {
          "enabled": true,
          "lint": {
            "enabled": true,
            "path": "ansible-lint"
          }
        }
      }
    }
  }
}
