// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
{
  "vim_mode": false,
  "features": {
    "copilot": false
  },
  "theme": "Ayu Mirage",
  "ui_font_size": {{ .font_size.zed_ui }},
  "buffer_font_size": {{ .font_size.zed }},
  "buffer_font_family": "JetBrains Mono NL",
  "buffer_font_features": {
    "calt": false,
    "liga": false,
    "clig": false
  }
}
