ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDkGUEZW64YE0F/saEipmwGLueP1A9nkZtGtj2KXJTMZ3F1+jiqCr7dRsKlWv1CMSaPi2/P9jhbTw/Rq5UiYUkZtghirjh16hoa8aXLuORqlxR2sF2CQki6huIr8JDxaU98xTUyi8Zf2jRD2Ny6TR9ZalQpkOgRsYZy+Xl4GudM5+c4p4iWu9LjVOPt3zvRC5BLSCIKqC889K4LQkzVxPfWCUTmP+wxAF2hhkuUxDqSPKDA5Dvsk+d5zPF30BNt/i4cZff+nD93J5sgDVQ9Ke83eRm+NWo+DjT8zNCf7kAGxqjsZ7q0Gxef+Ur6uSxHoscfgl/HOoCIPUItSXCCd/Jb andrei@desktop
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvXly/UBNSzB8DNWdF0mXZh8ifbivsC+3YcmVVZzNKC8R7PNliYA/CoJAqd+lM8rTlq/9h7vCtFsG8BhHuamfx3H6jeTjZky/N8pZs5sRDJuy2NpqwsuFy/bIY4xdDaT1/h26Dm5mc7bFRxBESLdTTUTo9QwqOB8A36iVPI3XE9MHgcjzNbj4VO0DRHXn9YdaVcFQ1H6lNq66zMEEfCPuxwTlBVShWzIHDDLid9YB5VIDgEwuQHhLBsWHKXkW5IxMSpRlwx61kuxRXEGXBv5OBFgbZ0jp0PrqxxwVLwo1urt8BZg72u6iZmy5Jub8Uqx0xYGztedzgtn6Wp8dlF8aR andrei@laptop
{{- $is_srv := eq .chezmoi.hostname "DreSRV" -}}
{{- $not_root := ne .chezmoi.username "root" -}}
{{ if and $is_srv $not_root}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDdLKS4Mjc3lHEHzdGRyMiNTgA82i4X90Vato0oqgzfVuA2SN4bdDjmaF9v+l51piPYemroES2gBt26t3XJV3RW4WKNvySJ0G92WY1jYHy7QE4HjRVrW63tPqmjZrCSfsWV0dS3kQZhXk1L3V5mo4VyNQ2IS9Qe3KLwM5qsLaaWckh9T7XUfS3KmUESqZge7czVv2jY1IeJ4LEzVTxCK6++NV5F/POURdRJSMAI6/NtwDJYNIahf6b63bKeRBIzcaYJmn4K6NEwmDEWVQJL+rPKp+uiQgASeDzVGkGSOhAywOFQw7eU5VQ6Ivz2adFqBekPnZJTvEzvKzjPRTeJ31+X andrei@phone
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7zKNga5BM15P1Lks4cB+xFauA+RDIFslTrPUPxEzgOhXO88K5/wUGROZmtsjmgBVOcNWYM2nUCbKaIJLcEVF3QstIdLR4U1LzE1KJSvFO705VGaTyBXRqDU+Fo8mAJtEXX3M237CdZQkzVu/79CynQRMYkVtku/x0PvlKRYsM9VXE1lbssowJL2ZDZAJcugIMqjzG6mAD4jeALNrJydPb7A9pb0nXC+yUrI9/VunMUlAWGaOZfFuIZSXPmNDi+I2sYsQ1NRFG0M8VEDEqfZjDuUs1TPhVEwPVVcGwXtKeY+acVfnaY39oFGPy256HC+si+8IOWXGRWTk8kbybkIdZ andrei@ipad
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+oMDydbJqAkaYsqa5+yWMwBdhiq1W3emIR5ndgPaE0aD59oN0YvFQb28thQCbed7rmkx4AMu3lGCOJCaFd39tHJB0E8fHwUhbphMlde9vEB/Fs5O+YXfspSJz+t8hLjV07uKVZX1Rwc7pAnWLxU70N6uExrxaJQUP8Xa1h1pGXu2K0x7404L3KsCUPm8PmJQD1K0TukYG774jPtc+O42Pg3eMMCPEp4L7zLls24HO66AQ7rG5WszZUFvhlI1Z3cMY2eznt7dkY1ThQ+NHCVrO2hj/RFV1ZXOMz1PNGFOY9/jb1xfkx2glJqdpmm4WNDElf19SQZLXsofA3d+uT3Af andrei@rvm
{{ end }}