{{- $is_pi :=  eq .chezmoi.hostname "drepi" -}}
{{- $home := .chezmoi.homeDir -}}
{{- $work_keys := list ".ssh/id_rsa.work" ".ssh/id_rsa" ".ssh/desktop_rsa" ".ssh/laptop_rsa" -}}
{{- $general_keys := list ".ssh/id_ed25519" ".ssh/desktop_ed25519" ".ssh/laptop_ed25519" -}}
{{- $cosandr_keys := list ".ssh/id_ed25519.cosandr" ".ssh/desktop_ed25519.cosandr" ".ssh/laptop_ed25519.cosandr" -}}
{{- $atgb_keys := list ".ssh/id_ed25519.atgb" ".ssh/desktop_ed25519.atgb" -}}
{{- if stat (joinPath $home ".ssh/conf.d") }}
Include conf.d/*
{{- end }}
{{- if .is.windows }}
XAuthLocation "C:/Program Files/VcXsrv/xauth.exe"
{{- else if .is.mac }}
XAuthLocation /opt/X11/bin/xauth

Host *
   UseKeychain yes
   AddKeysToAgent yes
{{- end }}

{{- if .ssh.include_dresrv }}
Host dresrv
    HostName dresrv.hlab.no
{{- if and (not .is.server) (not .is.windows) }}
    ControlPath ~/.ssh/cm-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m
{{- end }}

Host gitlab.dresrv.com
    HostName gitlab.dresrv.com
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $general_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}

{{ if not .is.server -}}
Host srv-boot
    HostName dresrv.hlab.no
    User root
    Port 2222

Host dresrv-A
    HostName dresrv.hlab.no
    User andrei
    ForwardAgent yes

Host dresrv-X
    HostName dresrv.hlab.no
    ForwardX11 yes
    ForwardX11Trusted yes
{{- if .is.windows }}
    RequestTTY yes
    RemoteCommand env GDK_SCALE=2 GDK_DPI_SCALE=0.75 QT_SCREEN_SCALE_FACTORS=2 QT_AUTO_SCREEN_SCALE_FACTOR=0 zsh
{{- end }}

{{ if and (lookPath "gpg-agent") (or .is.desktop .is.laptop) }}
Host dresrv-gpg
    HostName dresrv.hlab.no
    User andrei
    ExitOnForwardFailure yes
    TCPKeepAlive yes
    # Set in sshd_config too
    StreamLocalBindUnlink yes
{{- if .is.mac }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent {{ print .chezmoi.homeDir "/.gnupg/S.gpg-agent.extra" }}
{{- else if .is.windows }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent 127.0.0.1:4742
{{- else }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent /run/user/1000/gnupg/S.gpg-agent.extra
{{- end }}
{{- end }} {{/* and (lookPath "gpg-agent") (or .is.desktop .is.laptop) */}}
{{- end }} {{/* {{- not .is.server }} */}}

{{- end }} {{/* {{- if .ssh.include_dresrv }} */}}
{{ if .ssh.include_rom }}
Host romrt
    HostName {{ .romrt.domain }}
    User {{ .romrt.ssh_user }}
    Port {{ .romrt.ssh_port }}

Host romrt-socks
    HostName {{ .romrt.domain }}
    User {{ .romrt.ssh_user }}
    Port {{ .romrt.ssh_port }}
    DynamicForward 4321
    ExitOnForwardFailure yes
    TCPKeepAlive yes

Host romsto
    HostName {{ .romsto.domain }}
    ForwardAgent yes
{{- end }} {{/* {{- if .ssh.include_rom }} */}}
{{- if and (not $is_pi) (not .is.ws) }}

Host drepi
    HostName 10.0.50.21
    User pi
    ForwardAgent yes
{{- end }} {{/* {{- if and (not $is_pi) (not .is.ws) }} */}}
{{ if not .is.ws }}
Host rb5009
    HostName 10.0.50.1
    User admin
    PubkeyAcceptedKeyTypes ssh-rsa,rsa-sha2-256
    IdentityFile ~/.ssh/id_rsa

Host crs226
    HostName 10.0.100.3
    User admin
    PubkeyAcceptedKeyTypes ssh-rsa,rsa-sha2-256
    IdentityFile ~/.ssh/id_rsa

Host crs309
    HostName 10.0.100.4
    User admin
    PubkeyAcceptedKeyTypes ssh-rsa,rsa-sha2-256
    IdentityFile ~/.ssh/id_rsa

Host webgw01
    HostName webgw01.hlab.no
    Port 5622
    User root

Host localgw01
    HostName 10.0.10.91
    Port 5622
    User root
{{- end }}
{{ if .ssh.include_work }}
Host ws
    HostName 192.168.1.43
    User andrei
    ForwardAgent yes
    TCPKeepAlive yes
{{ if and (lookPath "gpg-agent") (or .is.desktop .is.laptop) }}
Host ws-gpg
    HostName 192.168.1.43
    User andrei
    ExitOnForwardFailure yes
    TCPKeepAlive yes
{{- if .is.mac }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent {{ print .chezmoi.homeDir "/.gnupg/S.gpg-agent.extra" }}
{{- else if .is.windows }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent 127.0.0.1:4742
{{- else }}
    RemoteForward /run/user/1000/gnupg/S.gpg-agent /run/user/1000/gnupg/S.gpg-agent.extra
{{- end }}
{{- end }}

Host ws-socks
    HostName 192.168.1.43
    User andrei
    DynamicForward 5555
    ExitOnForwardFailure yes
    TCPKeepAlive yes

Host ws-boot
    HostName 192.168.1.43
    Port 2222
    User root
    IdentityFile ~/.ssh/id_rsa

Host {{ .work.git_url }}
    HostName {{ .work.git_url }}
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $work_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
{{ range $h := .work.hosts }}
Host {{ $h }}
    User root
{{- range $k := $work_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
{{ end }}
{{- end }} {{/* {{- if .ssh.include_work }} */}}
Host github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $cosandr_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}

Host github.com-atgb
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $atgb_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
