{{- $is_pi :=  eq .chezmoi.hostname "drepi" -}}
{{- $home := .chezmoi.homeDir -}}
{{- $work_keys := list ".ssh/id_rsa.work" ".ssh/id_rsa" ".ssh/mac_rsa.work" ".ssh/desktop_rsa" ".ssh/laptop_rsa" -}}
{{- $cosandr_keys := list ".ssh/id_ed25519.cosandr" ".ssh/desktop_ed25519.cosandr" ".ssh/laptop_ed25519.cosandr" ".ssh/mac_ed25519.cosandr" -}}
{{- $atgb_keys := list ".ssh/id_ed25519.atgb" ".ssh/desktop_ed25519.atgb" ".ssh/mac_ed25519.atgb" -}}
{{- if .is.windows }}
XAuthLocation "C:/Program Files/VcXsrv/xauth.exe"
{{- else if .is.mac }}
XAuthLocation /opt/X11/bin/xauth

Host *
   UseKeychain yes
   AddKeysToAgent yes
{{- end }}

{{- if .ssh.include_dresrv }}
Host DreSRV
    HostName {{ .dresrv.local_ip }}
{{- if and (not .is.server) (not .is.windows) }}
    ControlPath ~/.ssh/cm-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m
{{- end }}

Host dresrv.com
{{- if .dresrv.use_domain }}
    HostName {{ .dresrv.domain }}
    Port {{ .dresrv.ssh_port }}
{{- else }}
    HostName {{ .dresrv.local_ip }}
{{- end }}
{{- if and (not .is.server) (not .is.windows) }}
    ControlPath ~/.ssh/cm-%r@%h:%p
    ControlMaster auto
    ControlPersist 10m
{{- end }}

Host gitlab.dresrv.com
    HostName {{ if .dresrv.use_domain }}{{ .dresrv.domain }}{{ else }}{{ .dresrv.local_ip }}{{ end }}
    Port {{ .dresrv.ssh_port_gitlab }}
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $cosandr_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}

{{ if not .is.server -}}
Host srv-boot
    HostName {{ .dresrv.local_ip }}
    User root
    Port 2222

Host DreSRV-A
    HostName {{ .dresrv.local_ip }}
    User andrei
    ForwardAgent yes

Host DreSRV-X
    HostName {{ .dresrv.local_ip }}
    ForwardX11 yes
    ForwardX11Trusted yes
{{- if .is.windows }}
    RequestTTY yes
    RemoteCommand env GDK_SCALE=2 GDK_DPI_SCALE=0.75 QT_SCREEN_SCALE_FACTORS=2 QT_AUTO_SCREEN_SCALE_FACTOR=0 zsh
{{- end }}

Host dresrv.com-A
{{- if .dresrv.use_domain }}
    HostName {{ .dresrv.domain }}
    Port {{ .dresrv.ssh_port }}
{{- else }}
    HostName {{ .dresrv.local_ip }}
{{- end }}
    User andrei
    ForwardAgent yes
{{ if and (lookPath "gpg-agent") (or .is.desktop .is.laptop) }}
Host dresrv.com-gpg
{{- if .dresrv.use_domain }}
    HostName {{ .dresrv.domain }}
    Port {{ .dresrv.ssh_port }}
{{- else }}
    HostName {{ .dresrv.local_ip }}
{{- end }}
    User andrei
    ExitOnForwardFailure yes
    TCPKeepAlive yes
    # Set in sshd_config too
    StreamLocalBindUnlink yes
    RemoteForward /run/user/1000/gnupg/S.gpg-agent /run/user/1000/gnupg/S.gpg-agent.extra
{{- end }} {{/* and (lookPath "gpg-agent") (or .is.desktop .is.laptop) */}}
{{- end }} {{/* {{- not .is.server }} */}}

Host srvsim
    HostName 192.168.122.6
    User root
{{- if not .is.server }}
    ProxyJump DreSRV
{{- end }}

Host srvsim-boot
    HostName 192.168.122.6
    Port 2222
    User root
{{- if not .is.server }}
    ProxyJump DreSRV
{{- end }}
{{- end }} {{/* {{- if .ssh.include_dresrv }} */}}
{{ if .ssh.include_rom }}
Host romrt
    HostName {{ .romrt.domain }}
    User {{ .romrt.ssh_user }}
    Port {{ .romrt.ssh_port }}

Host romrt-socks
    HostName {{ .romrt.domain }}
    User {{ .romrt.ssh_user }}
    Port {{ .romrt.ssh_port }}
    DynamicForward 4321
    ExitOnForwardFailure yes
    TCPKeepAlive yes

Host romsto
    HostName {{ .romsto.domain }}
    Port {{ .romsto.ssh_port }}
    ForwardAgent yes
    ProxyJump romrt

Host romvm
    HostName 10.1.1.33
    ProxyJump romsto
    ForwardAgent yes
{{- end }} {{/* {{- if .ssh.include_rom }} */}}
{{- if not $is_pi }}

Host drepi
    HostName 10.0.0.3
    User pi
    ForwardAgent yes
{{- end }} {{/* {{- if not $is_pi }} */}}
{{ if .ssh.include_work }}
Host ws
    HostName 192.168.1.43
    User andrei
    ForwardAgent yes
    TCPKeepAlive yes
{{ if and (lookPath "gpg-agent") (or .is.desktop .is.laptop) }}
Host ws-gpg
    HostName 192.168.1.43
    User andrei
    ExitOnForwardFailure yes
    TCPKeepAlive yes
    # Set in sshd_config too
    StreamLocalBindUnlink yes
    RemoteForward /run/user/1000/gnupg/S.gpg-agent /run/user/1000/gnupg/S.gpg-agent.extra
{{- end }}

Host ws-socks
    HostName 192.168.1.43
    User andrei
    DynamicForward 5555
    ExitOnForwardFailure yes
    TCPKeepAlive yes

Host ws-boot
    HostName 192.168.1.43
    Port 2222
    User root
    IdentityFile ~/.ssh/id_rsa

Host {{ .work.git_url }}
    HostName {{ .work.git_url }}
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $work_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
{{ range $h := .work.hosts }}
Host {{ $h }}
    User root
{{- range $k := $work_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
{{ end }}
{{- end }} {{/* {{- if .ssh.include_work }} */}}
Host github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $cosandr_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}

Host github.com-atgb
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentitiesOnly yes
{{- range $k := $atgb_keys }}
{{- $fp := joinPath $home $k }}
{{- if or (stat $fp) (stat (print $fp ".pub")) }}
    IdentityFile ~/{{ $k }}
{{- end }}
{{- end }}
{{ if not .no_tunnel }}
Host prom-tunnel
{{- if .dresrv.use_domain }}
    HostName {{ .dresrv.domain }}
    Port {{ .dresrv.ssh_port }}
    LocalForward localhost:8101 localhost:8100
{{- else }}
    HostName {{ .dresrv.local_ip }}
{{- end }}
    User prom-tunnel
    IdentityFile ~/.ssh/id_ed25519.prom
    ExitOnForwardFailure yes
    ControlMaster no
    TCPKeepAlive yes
{{- if .is.desktop }}
    RemoteForward localhost:17766 localhost:7766
{{- else if .is.laptop }}
    RemoteForward localhost:27766 localhost:7766
{{- end }}
{{- end }} {{/* {{ if not .no_tunnel -}} */}}
