{{- $is_srv := eq .chezmoi.hostname "DreSRV" -}}
{{- $not_root := ne .chezmoi.username "root" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOg9fiCqlSj0Xm/+rA02ecxnDYecKEnhYol6WUrM29UA andrei@desktop
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDm8L8QC0mY1G2uMm9eMGpsW4VXs/nFVLRu+vuxjVSEs andrei@laptop
{{ if and $is_srv $not_root}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFCsPQZm8M5OuCbrdramTAUOe7jOC5wPWYk4LHStjLYD andrei@phone
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7zKNga5BM15P1Lks4cB+xFauA+RDIFslTrPUPxEzgOhXO88K5/wUGROZmtsjmgBVOcNWYM2nUCbKaIJLcEVF3QstIdLR4U1LzE1KJSvFO705VGaTyBXRqDU+Fo8mAJtEXX3M237CdZQkzVu/79CynQRMYkVtku/x0PvlKRYsM9VXE1lbssowJL2ZDZAJcugIMqjzG6mAD4jeALNrJydPb7A9pb0nXC+yUrI9/VunMUlAWGaOZfFuIZSXPmNDi+I2sYsQ1NRFG0M8VEDEqfZjDuUs1TPhVEwPVVcGwXtKeY+acVfnaY39oFGPy256HC+si+8IOWXGRWTk8kbybkIdZ andrei@ipad
{{ end }}
