// =============================================================================
//
// Waybar configuration
//
// Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
//
// =============================================================================

[
{% for cfg in bars.values() if cfg.outputs %}
    {
        "layer": "top",
        "position": "bottom",
        "height": 30,
        "output": {{ cfg.outputs | to_json }},
        "modules-left": [
            "sway/workspaces",
            "sway/mode"
        ],
        "modules-center": [
            "sway/window"
        ],
        {% if 'alone_modules-right' in cfg and present_monitors | length == 1 %}
        "modules-right": {{ cfg['alone_modules-right'] | to_json }},
        {% else %}
        "modules-right": {{ cfg['modules-right'] | to_json }},
        {% endif %}
{% include "waybar_modules.j2" %}
    }{% if not loop.last %},{% endif %}
{% endfor %}
]
