    "battery": {
        "interval": 10,
        "states": {
            "warning": 20,
            "critical": 10
        },
        // Connected to AC
        "format": " {icon} {capacity}%", // Icon: bolt
        // Not connected to AC
        "format-discharging": "{icon} {capacity}%",
        "format-icons": [
            "", // Icon: battery-full
            "", // Icon: battery-three-quarters
            "", // Icon: battery-half
            "", // Icon: battery-quarter
            ""  // Icon: battery-empty
        ],
        "tooltip": true
    },

    "cpu": {
        "interval": 5,
        "format": " {usage}%",
        "states": {
          "warning": 70,
          "critical": 90
        }
    },
{% set backlight_dev = get_env('BACKLIGHT_DEV') %}
    "backlight": {
        "format": " {percent}%",
{% if backlight_dev %}
        "device": "{{ backlight_dev }}",
        "on-scroll-up": "brightnessctl -d {{ backlight_dev }} set 1%+",
        "on-scroll-down": "brightnessctl -d {{ backlight_dev }} set 1%-"
{% else %}
        "on-scroll-up": "brightnessctl set 1%+",
        "on-scroll-down": "brightnessctl set 1%-"
{% endif %}
    },

    "custom/cpu_clk": {
        "exec": "$HOME/.local/bin/bar/cpu-clock.sh",
        "format": " {}",
        "interval": 10
    },
{% set calendar_config %}
        "tooltip-format": "<tt><small>{calendar}</small></tt>",
        "calendar": {
                    "mode"          : "month",
                    "mode-mon-col"  : 3,
                    "weeks-pos"     : "right",
                    "on-scroll"     : 1,
                    "on-click": "mode",
                    "format": {
                              "months":     "<span color='#ffead3'><b>{}</b></span>",
                              "days":       "<span color='#ecc6d9'><b>{}</b></span>",
                              "weeks":      "<span color='#99ffdd'><b>W{}</b></span>",
                              "weekdays":   "<span color='#ffcc66'><b>{}</b></span>",
                              "today":      "<span color='#ff6699'><b><u>{}</u></b></span>"
                              }
                    },
        "actions":  {
                    "on-click": "mode",
                    "on-scroll-up": "shift_up",
                    "on-scroll-down": "shift_down"
                    }
{% endset %}
    "clock": {
        "format": "{:%a %d %b   %H:%M}",
    {{- calendar_config }}
    },

    "clock#short": {
        "format": " {:%H:%M %d/%m/%y}",
    {{- calendar_config }}
    },

    "custom/updates": {
        "format": " {}",
        "exec": "PYTHONUNBUFFERED=1 SERVER=/run/go-check-updates.sock $HOME/.local/bin/bar/go-check-updates-ws.py",
        "exec-on-event": false,
        "tooltip": false,
        "on-click": "dbus-send --session --dest=com.andrei.go-check-updates --print-reply / gcu.control.notify >/dev/null",
        "on-click-right": "dbus-send --session --dest=com.andrei.go-check-updates --print-reply / gcu.control.refresh >/dev/null",
    },

    "sway/language": {
        "format": " {}",  // Icon: keyboard
        // Broken in sway 1.7, seems to be fixed by https://github.com/swaywm/sway/pull/6966
        "on-click": "swaymsg input type:keyboard xkb_switch_layout next",
        "tooltip-format": "{long}"
    },

    "custom/monitor_brightness": {
        "format": " {}",
        "exec": "PYTHONUNBUFFERED=1 DELAY=3 $HOME/.local/bin/bar/toggle-brightness.py",
        "exec-on-event": false,
        "tooltip": false,
        "on-click": "dbus-send --session --dest=com.andrei.brightness --print-reply / ddcci.control.cycle_selected >/dev/null",
        "on-click-right": "dbus-send --session --dest=com.andrei.brightness --print-reply / ddcci.control.toggle >/dev/null",
        "on-scroll-up": "dbus-send --session --dest=com.andrei.brightness --print-reply / ddcci.control.up >/dev/null",
        "on-scroll-down": "dbus-send --session --dest=com.andrei.brightness --print-reply / ddcci.control.down >/dev/null"
    },

    "custom/scratchpad-indicator": {
        "interval": 3,
        "return-type": "json",
        "exec": "swaymsg -t get_tree | jq --unbuffered --compact-output '( select(.name == \"root\") | .nodes[] | select(.name == \"__i3\") | .nodes[] | select(.name == \"__i3_scratch\") | .focus) as $scratch_ids | [..  | (.nodes? + .floating_nodes?) // empty | .[] | select(.id |IN($scratch_ids[]))] as $scratch_nodes | { text: \"\\($scratch_nodes | length)\", tooltip: $scratch_nodes | map(\"\\(.app_id // .window_properties.class) (\\(.id)): \\(.name)\") | join(\"\\n\") }'",
        "format": "{} 🗗",
        "on-click": "exec swaymsg 'scratchpad show'",
        "on-click-right": "exec swaymsg 'move scratchpad'"
    },

    "memory": {
        "interval": 5,
        "format": " {avail:0.1f}G",
        "states": {
            "warning": 70,
            "critical": 90
        }
    },

    "network#ethernet": {
        "interface": "{{ get_env('PRIMARY_ETH', 'e*') }}",
        "interval": 5,
        "format-ethernet": " {bandwidthTotalBytes}",
        "format-disconnected": "",
        "tooltip-format": "{ifname}: {ipaddr}/{cidr}"
    },

    "network#ethernet_ip": {
        "interface": "{{ get_env('PRIMARY_ETH', 'e*') }}",
        "interval": 5,
        "format-ethernet": " {bandwidthTotalBytes} [{ipaddr}/{cidr}]",
        "format-disconnected": "",
    },

    "network#wifi": {
        "interface": "{{ get_env('PRIMARY_WLAN', 'w*') }}",
        "interval": 5,
        "format-wifi": " {essid}",
        "format-disconnected": "",
        "tooltip-format-wifi": "{bandwidthTotalBytes} {ipaddr}/{cidr} ({signaldBm})"
    },

    "network#wifi_ip": {
        "interface": "{{ get_env('PRIMARY_WLAN', 'w*') }}",
        "interval": 5,
        "format-wifi": " {bandwidthTotalBytes} [{ipaddr}/{cidr}]",
        "format-disconnected": ""
    },

    "pulseaudio": {
        "scroll-step": 1,
        "max-length": 15,
        "format": "{icon} {volume}% {desc}",
        "format-muted": "",
        "format-icons": {
            "default": ["", "", ""] // Icons: volume-down, volume-up
        },
        "on-click": "dbus-send --session --dest=com.andrei.audio --print-reply / input.toggle.swap >/dev/null",
        "on-click-right": "pavucontrol",
        "tooltip": true
    },

    "sway/mode": {
        "format": "<span style=\"italic\"> {}</span>", // Icon: expand-arrows-alt
        "tooltip": false
    },

    "sway/window": {
        "format": "{}",
        "max-length": 120,
        // https://github.com/Alexays/Waybar/issues/1456#issuecomment-1060098328
        "icon": false
    },

    "sway/workspaces": {
        "all-outputs": false,
        "disable-scroll": true,
        "format": "{icon} {name}",
        "format-icons": {
            "urgent": "",
            "focused": "",
            "default": ""
        }
    },

    "temperature": {
      "critical-threshold": 80,
      "interval": 5,
      "format": "{icon} {temperatureC}°C",
      "format-icons": [
          "", // Icon: temperature-empty
          "", // Icon: temperature-quarter
          "", // Icon: temperature-half
          "", // Icon: temperature-three-quarters
          ""  // Icon: temperature-full
      ],
      "tooltip": true
    },

    "tray": {
        "icon-size": 21,
        "spacing": 10
    },

    "custom/sep": {
        "format": " | "
    }
