{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
monitor                  = ${env:MONITOR}
width                    = 100%
{{- if $is_desktop }}
height                   = 40
font-0                   = "Noto Sans:size=16;4"
; ttf-nerd-fonts-symbols
font-1                   = "Symbols Nerd Font:size=20;4"
font-2                   = "icomoon\-feather:size=20;4"
font-3                   = "siji:size=20;4"
{{- else }}
height                   = 60
font-0                   = "Noto Sans:size=22"
; ttf-nerd-fonts-symbols
font-1                   = "Symbols Nerd Font:size=30"
font-2                   = "icomoon\-feather:size=30"
font-3                   = "siji:size=35"
{{- end }}
radius                   = 0
line-size                = 0
bottom                   = true
border-top-size          = 0
border-bottom-size       = 0
border-color             = "#313131"

override-redirect        = false
screenchange-reload      = true
throttle-output          = 5
throttle-output-for      = 10
throttle-input-for       = 30
padding-left             = 0
padding-right            = 0
module-margin-left       = 1
module-margin-right      = 1

background = #bb212121
foreground = #eeffff
