monitor                  = ${env:MONITOR}
width                    = 100%
height                   = {{ mulf 30 .scale | int64 }}
font-0                   = "Noto Sans:size={{ mulf 11 .scale | int64 }};{{ mulf 2 .scale | int64 }}"
; noto-fonts-emoji
font-1                   = "Noto Color Emoji:pixelsize={{ mulf 11 .scale | int64 }}:style=Regular:scale={{ mulf 5 .scale | int64 }};{{ mulf 2 .scale | int64 }}"
; ttf-nerd-fonts-symbols
font-2                   = "Symbols Nerd Font:size={{ mulf 15 .scale | int64 }};{{ mulf 3 .scale | int64 }}"
; https://dropways.github.io/feathericons/
font-3                   = "Feather:size={{ mulf 15 .scale | int64 }};{{ mulf 3 .scale | int64 }}"
font-4                   = "siji:size={{ mulf 16 .scale | int64 }};{{ mulf 3 .scale | int64 }}"
radius                   = 0
line-size                = 0
bottom                   = true
border-top-size          = 0
border-bottom-size       = 0
border-color             = "#313131"

override-redirect        = false
screenchange-reload      = true
throttle-output          = 5
throttle-output-for      = 10
throttle-input-for       = 30
padding-left             = 0
padding-right            = 0
module-margin-left       = 1
module-margin-right      = 1

background = #bb212121
foreground = #eeffff
