{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
{{- $font := "icomoon-feather" -}}
[bar/main]
include-file = ~/.config/polybar/baropts
tray-position = right
modules-left = i3
modules-center = title
modules-right = cpuusage nvusage sep aquaero cputemp nvtemp sep updates srvupdates sep monitor_brightness sep xkeyboard sep volume switchaudio sep calendar datetime

[bar/secondary]
include-file = ~/.config/polybar/baropts
modules-left = i3
modules-center = title
modules-right = cpuclk nvclk sep aquaerofans sep ethernet sep time

[bar/laptop]
include-file = ~/.config/polybar/baropts
tray-position = right
modules-left = i3 title
modules-center =
modules-right = cpuusage cputemp sep updates sep wifi sep volume sep bat sep calendar datetime sep xkeyboard

[bar/laptop-ext]
include-file = ~/.config/polybar/baropts
tray-position = right
modules-left = i3
modules-center = title
modules-right = cpuusage amd_gpu_usage sep amd_mem_usage sep cputemp amd_temp sep updates sep monitor_brightness sep xkeyboard sep volume switchaudio sep calendar datetime

[bar/laptop-ext-secondary]
include-file = ~/.config/polybar/baropts
modules-left = i3
modules-center = title
modules-right = cpuclk amd_gpu_clk sep amd_mem_clk sep amd_power sep ethernet sep time

;;; COMMON MODULES ;;;

[module/cpuclk]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =   <label>
{{- else if eq $font "nerd-font" }}
format =   <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = ~/.config/polybar/scripts/cpu-clock.sh
interval = 10

[module/cputemp]
type = internal/temperature
{{- if eq $font "icomoon-feather" }}
label =  %temperature-c%
label-warn =  %temperature-c% !!
{{- else if eq $font "nerd-font" }}
label =  %temperature-c%
label-warn =  %temperature-c% !!
{{- else if eq $font "siji" }}
label =  %temperature-c%
label-warn =  %temperature-c% !!
{{- else }}
label = %temperature-c%
label-warn = %temperature-c% !!
{{- end }}
interval = 3
thermal-zone = 0
; CPU Package
warn-temperature = 80
hwmon-path = ${env:HWMON_PATH}
{{- if $is_desktop }}
base-temperature = 20
{{- else }}
base-temperature = 40
{{- end }}

[module/cpuusage]
type = internal/cpu
internal = 1
{{- if eq $font "icomoon-feather" }}
format =   <label>%
{{- else if eq $font "nerd-font" }}
format =   <label>%
{{- else if eq $font "siji" }}
format =  <label>%
{{- end }}
label = %percentage%

[module/calendar]
type = custom/text
{{- if eq $font "icomoon-feather" }}
content = 
{{- else if eq $font "nerd-font" }}
content = 
{{- else if eq $font "siji" }}
content = 
{{- end }}
content-padding = 0
click-left = gsimplecal &

[module/datetime]
type = internal/date
interval = 60
date = %a %d %b
time = %H:%M
{{- if eq $font "icomoon-feather" }}
label = %date%   %time%
{{- else if eq $font "nerd-font" }}
label = %date%   %time%
{{- else if eq $font "siji" }}
label = %date%   %time%
{{- end }}
format-padding = 0

[module/i3]
type = internal/i3
pin-workspace = true
index-sort = true
enable-click = true
enable-scroll = false
wrapping-scroll = false
reverse-scroll = false
format = <label-state> <label-mode>
label-focused = %name%
label-focused-padding = 3
label-focused-background = "#82aaff"
label-focused-foreground = "#212121"
label-unfocused = %name%
label-unfocused-padding = 3
label-visible = %name%
label-visible-padding = 2
label-mode = %mode%
label-mode-background = "#f07178"
label-mode-foreground = "#212121"
label-mode-padding = 2
label-urgent = %name%
label-urgent-padding = 3

[module/powermenu]
type = custom/menu
expand-left = true
{{- if eq $font "icomoon-feather" }}
menu-0-0 = "   Logout  "
menu-0-1 = "   Lock  "
menu-0-2 = "   Poweroff  "
menu-0-3 =  "   Reboot  "
label-open = 
label-close = 
{{- else if eq $font "nerd-font" }}
menu-0-0 = "   Logout  "
menu-0-1 = "   Lock  "
menu-0-2 = "   Poweroff  "
menu-0-3 =  "ﰇ   Reboot  "
label-open = 
label-close = 
{{- else if eq $font "siji" }}
menu-0-0 = "   Logout  "
menu-0-1 = "   Lock  "
menu-0-2 = "   Poweroff  "
menu-0-3 =  "   Reboot  "
label-open = 
label-close = 
{{- end }}
menu-0-0-exec = i3-nagbar -f 'pango:Noto Sans:20' -t warning -m 'Really, exit?' -b 'Yes' 'i3-msg exit'
menu-0-1-exec = $HOME/.local/bin/my-screenlock
menu-0-2-exec = i3-nagbar -f 'pango:Noto Sans:20' -t warning -m 'Shut down?' -b 'Yes' 'poweroff'
menu-0-3-exec = i3-nagbar -f 'pango:Noto Sans:20' -t warning -m 'Reboot?' -b 'Yes' 'reboot'
format-spacing = 2
format-padding = 4
label-sep = |

[module/sep]
type = custom/text
content = |
content-padding = 0
content-foreground = "#424242"

[module/srvupdates]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
{{- if .dresrv.use_domain }}
exec = PYTHONUNBUFFERED=1 SERVER="localhost:8101" ~/.config/polybar/scripts/go-check-updates-ws.py
{{- else }}
exec = PYTHONUNBUFFERED=1 SERVER="dresrv.hm:8100" ~/.config/polybar/scripts/go-check-updates-ws.py
{{- end }}
click-left = kill -USR1 %pid%
click-right = kill -USR2 %pid%
tail = true
interval = 0

[module/title]
type = internal/xwindow
format = <label>
label = %title%
label-maxlen = 60

[module/updates]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = PYTHONUNBUFFERED=1 SERVER=/run/go-check-updates.sock ~/.config/polybar/scripts/go-check-updates-ws.py
click-left = kill -USR1 %pid%
click-right = kill -USR2 %pid%
tail = true
interval = 0

[module/volume]
type = internal/pulseaudio
interval = 1
use-ui-max = false
format-volume =   <ramp-volume>  <label-volume>
{{- if eq $font "icomoon-feather" }}
format-muted = 
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
{{- else if eq $font "nerd-font" }}
format-muted = ﱝ
ramp-volume-0 = 奄
ramp-volume-1 = 
ramp-volume-2 = 墳
{{- else if eq $font "siji" }}
format-muted = 
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
{{- end }}
click-middle = ~/.config/polybar/scripts/switch-ports.sh &
click-right = pavucontrol &

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
label-indicator-on = %icon%
; Icons are using nerd font
indicator-icon-0 = caps lock;;
indicator-icon-1 = scroll lock;;SL
format = <label-layout> <label-indicator>
format-spacing = 0
label-layout =  %layout%

[module/ethernet]
type = internal/network
interface = ${env:PRIMARY_INET}
interval = 2.0
format-connected = <label-connected>
; Nerd Font
format-connected-prefix = ""
label-disconnected = 
label-connected = %downspeed:9% [%local_ip%]
format-disconnected = <label-disconnected>
format-padding = 0

[module/monitor_brightness]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else }}
format = <label>
{{- end }}
exec = PYTHONUNBUFFERED=1 DELAY=3 ~/.config/polybar/scripts/toggle-brightness.py
click-left = kill -ALRM %pid%
click-right = kill -HUP %pid%
scroll-up = kill -USR1 %pid%
scroll-down = kill -USR2 %pid%
tail = true
interval = 0

[module/switchaudio]
type = custom/script
format = <label>
exec = PYTHONUNBUFFERED=1 ~/.config/polybar/scripts/toggle-input.py
click-left = kill -HUP %pid%
click-right = pavucontrol &
tail = true
interval = 0

[module/time]
type = internal/date
interval = 60
date =
time = %H:%M
{{- if eq $font "icomoon-feather" }}
label =  %time%
{{- else if eq $font "nerd-font" }}
label =  %time%
{{- else if eq $font "siji" }}
label =  %time%
{{- end }}

;;; END COMMON MODULES ;;;
{{ if $is_desktop }}
;;; DESKTOP MODULES ;;;

[module/aquaero]
type = custom/script
exec = PYTHONUNBUFFERED=1 FONT="{{$font}}" ~/.config/polybar/scripts/aquaero.py
interval = 10

[module/aquaerofans]
type = custom/script
format =  <label>
exec = PYTHONUNBUFFERED=1 ~/.config/polybar/scripts/aquaero_fans.py
interval = 10

[module/nvclk]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="clocks.gr" UNIT="MHz"  ~/.config/polybar/scripts/nvidia.sh
interval = 10

[module/nvtemp]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="temperature.gpu" UNIT="°C"  ~/.config/polybar/scripts/nvidia.sh
interval = 3

[module/nvusage]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="utilization.gpu" UNIT="%"  ~/.config/polybar/scripts/nvidia.sh
interval = 3

;;; END DESKTOP MODULES ;;;
{{- end }}
{{ if not $is_desktop }}
;;; LAPTOP MODULES ;;;

[module/bat]
type = internal/battery
full-at = 100
battery = BAT0
adapter = ADP1
poll-interval = 15
time-format = %H:%M
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
;format-full = <ramp-capacity> <label-full>
label-charging = %percentage%%
label-discharging = %percentage%%
label-full =  %percentage%%
; Only applies if <ramp-capacity> is used
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
; Only applies if <animation-charging> is used
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
; Framerate in milliseconds
animation-charging-framerate = 750

[module/wifi]
type = internal/network
interface = ${env:PRIMARY_INET}
format-connected = <ramp-signal> <label-connected>
label-connected = %essid%
ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
{{- if eq $font "icomoon-feather" }}
label-disconnected = 
{{- else if eq $font "nerd-font" }}
label-disconnected = 睊
{{- end }}
interval = 3.0
format-disconnected = <label-disconnected>
format-padding = 0

[module/amd_gpu_clk]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="gpu_clk" UNIT="MHz"  ~/.config/polybar/scripts/amdgpu.sh
interval = 10

[module/amd_mem_clk]
type = custom/script
exec = QUERY="mem_clk" UNIT="MHz"  ~/.config/polybar/scripts/amdgpu.sh
interval = 10

[module/amd_temp]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="gpu_temp" UNIT="°C"  ~/.config/polybar/scripts/amdgpu.sh
interval = 3

[module/amd_gpu_usage]
type = custom/script
{{- if eq $font "icomoon-feather" }}
format =  <label>
{{- else if eq $font "nerd-font" }}
format =  <label>
{{- else if eq $font "siji" }}
format =  <label>
{{- end }}
exec = QUERY="gpu_usage" UNIT="%"  ~/.config/polybar/scripts/amdgpu.sh
interval = 3

[module/amd_mem_usage]
type = custom/script
exec = QUERY="mem_usage" UNIT="%"  ~/.config/polybar/scripts/amdgpu.sh
interval = 3

[module/amd_power]
type = custom/script
exec = QUERY="power" UNIT="W"  ~/.config/polybar/scripts/amdgpu.sh
interval = 3

;;; END LAPTOP MODULES ;;;
{{- end }}
