{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
#!/usr/bin/env sh

## Add this to your wm startup file.

# Terminate already running bar instances
killall -q polybar

# Wait until the processes have been shut down
while pgrep -u $UID -x polybar >/dev/null; do sleep 1; done

# Find and set CPU package
# https://github.com/polybar/polybar/issues/2078
for i in /sys/class/hwmon/hwmon*/temp*_input; do 
    if [ "$(<$(dirname $i)/name): $(cat ${i%_*}_label 2>/dev/null || echo $(basename ${i%_*}))" = "coretemp: Package id 0" ]; then
        export HWMON_PATH="$i"
    fi
done

# Find and set default network adapter
PRIMARY_INET=""
while [ -z $PRIMARY_INET ]; do
    PRIMARY_INET=$(route | grep '^default' | grep -m 1 -o '[^ ]*$')
    sleep 1
done
export PRIMARY_INET

# Launch bars
{{- if $is_desktop  }}
MONITOR=DP-4 polybar main &
MONITOR=DP-2 polybar secondary &
{{- else }}
MONITOR=eDP-1 polybar main &
{{- end }}
