profile {
    output eDP-1 enable scale 2
}

profile {
    output eDP-1 enable scale 2 position 4512,1480
    output "Lenovo Group Limited L32p-30 U511BYFA" scale 1.25 position 1440,832
    output "Goldstar Company Ltd LG HDR 4K 0x00000B9F" scale 1.5 position 0,0 transform 90
}

profile {
{{- if .kanshi.home_no_edp }}
    output eDP-1 disable
    output "Unknown Gigabyte M32U 21311B001327" scale 1.25 position 0,1440 mode 3840x2160@143.999Hz
    output "Samsung Electric Company U24E850 HTHH300363" scale 1.5 position 256,0
{{- else }}
    output eDP-1 scale 2 position 1664,2088
    output "Unknown Gigabyte M32U 21311B001327" scale 1.25 position 3584,1440 mode 3840x2160@143.999Hz
    output "Samsung Electric Company U24E850 HTHH300363" scale 1.5 position 3840,0
{{- end }}
}

profile {
    output "Goldstar Company Ltd LG TV 0x00000101" disable
    output "Unknown Gigabyte M32U 21311B001327" scale 1.25 position 0,1440 mode 3840x2160@143.999Hz
    output "Samsung Electric Company U24E850 HTHH300363" scale 1.5 position 256,0
}

# Always restart services when outputs change
profile {
    output *
    exec {{ .chezmoi.homeDir }}/.local/bin/kanshi-reload
{{- if .sway.hidpi }}
    exec swaymsg xwayland force scale 2
    exec xrdb -override <<< "Xft.dpi: 192"
{{- end }}
}

profile {
    output *
    output *
    exec {{ .chezmoi.homeDir }}/.local/bin/kanshi-reload
{{- if .sway.hidpi }}
    exec swaymsg xwayland force scale 2
    exec xrdb -override <<< "Xft.dpi: 192"
{{- end }}
}

profile {
    output *
    output *
    output *
    exec {{ .chezmoi.homeDir }}/.local/bin/kanshi-reload
{{- if .sway.hidpi }}
    exec swaymsg xwayland force scale 2
    exec xrdb -override <<< "Xft.dpi: 192"
{{- end }}
}
