# Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser
# if (!(Test-Path -Path $PROFILE )) { New-Item -Type File -Path $PROFILE -Force }

function git-atgb {
    echo "Setting git to atgb"
    git config user.email "{{ .git.public_email }}"
    git config user.name "{{ .git.public_name }}"
}

function git-cosandr {
    echo "Setting git to cosandr"
    git config user.email "{{ .git.private_email }}"
    git config user.name "{{ .git.private_name }}"
}

function ssh-dresrv-x {
    $env:DISPLAY="localhost:0.0"
    ssh DreSRV-X
    Remove-Item env:DISPLAY
}

$env:EDITOR="vim"

{{- range $k, $v := .log_files }}
{{ if ne $v "" }}function logs-{{ $k }} { Get-Content {{ $v }} -Wait -Tail 10 }{{ end }}
{{- end }}

{{- if has "docker" .check.exec }}
function dls { docker container ls -a --format "table {{ "{{.Names}}" }}\t{{ "{{.Status}}" }}\t{{ "{{.RunningFor}}" }}\t" }
function dlog { docker logs -f $args }
function dex { docker exec -t $args }
function dsti { docker container start -i $args }
{{- end }}
function touch ($file) { echo "" >> $file }
function la { Get-ChildItem -Force $args }
Set-Alias ll Get-ChildItem
Set-Alias st "C:\Program Files\Sublime Text 3\sublime_text.exe"
Set-Alias which where.exe

Import-Module posh-git
Import-Module oh-my-posh
Set-Theme Avit

# Chocolatey profile
$ChocolateyProfile = "$env:ChocolateyInstall\helpers\chocolateyProfile.psm1"
if (Test-Path($ChocolateyProfile)) {
  Import-Module "$ChocolateyProfile"
}
