{{- $font_nag := default "Noto Sans 14" (env "FONT_NAG") -}}
{{ template "i3-sway" dict "wm" "i3" "work" .ssh.include_work }}

### i3 specific ###

for_window [class="Pavucontrol"] floating enable; border normal
for_window [class="jetbrains-toolbox"] floating enable; border none
for_window [class="(g|G)nome-calculator"] floating enable; border none
# Jetbrains splash window
for_window [class="jetbrains-\w+" title="^win0$"] floating enable; border none
for_window [class="jetbrains-\w+" title="^(?i)welcome\sto\s\w+$"] floating enable; border none
# Evaluation window
for_window [class="jetbrains-\w+" title="\w+\sEvaluation"] floating enable; border normal
# PiP
for_window [class="(firefox|chromium)" title="(?i)^Picture(\s|-)in(\s|-)Picture$"] border none
# Firefox sharing indicator
for_window [class="firefox" title="Firefox — Sharing Indicator"] floating enable; border none

# Rofi binds
bindsym $super+d exec $HOME/.local/bin/rofi-launch -show drun
bindsym $alt+Tab exec $HOME/.local/bin/rofi-launch -show window

exec_always --no-startup-id "systemctl --user import-environment; systemctl --user start i3-session.target"
exec --no-startup-id ~/.fehbg

# restart i3 inplace
bindsym $super+$shift+r exec $HOME/.local/bin/i3-launch restart

# exit i3
bindsym $super+$shift+e exec "i3-nagbar -f 'pango:{{ $font_nag }}' -t warning -m 'Exit i3?' -b 'Yes' 'systemctl --user stop i3-session.target; i3-msg exit'"

mode "system" {
    bindsym b exec systemctl --user restart polybar, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+semicolon mode "system"

# Screenshots
bindsym $super+$shift+s --release exec "scrot -s $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"
bindsym Print exec "scrot $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"
bindsym $shift+Print exec "scrot -u $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"

# Turn off displays, delay for button release
bindsym $super+Pause exec sleep 1 && xset dpms force off

# Restore workspaces
exec --no-startup-id $HOME/.local/bin/i3-restore &

{{- if lookPath "numlockx" }}
exec --no-startup-id numlockx on &
{{- end }}
