{{- $font_nag := default "Noto Sans 14" (env "FONT_NAG") -}}
{{ template "i3-sway" "i3" }}

### i3 specific ###

for_window [class="Pavucontrol"] floating enable; border normal
for_window [class="jetbrains-toolbox"] floating enable; border none
for_window [class="gnome-calculator"] floating enable; border none
# Jetbrains splash window
for_window [class="jetbrains-\w+" title="^win0$"] floating enable; border none
for_window [class="jetbrains-\w+" title="^(?i)welcome\sto\s\w+$"] floating enable; border none
# Evaluation window
for_window [class="jetbrains-\w+" title="\w+\sEvaluation"] floating enable; border normal
# PiP
for_window [class="(firefox|chromium)" title="(?i)^Picture(\s|-)in(\s|-)Picture$"] border none

# Rofi binds
bindsym $super+d exec $HOME/.local/bin/rofi-launch -show drun
bindsym $alt+Tab exec $HOME/.local/bin/rofi-launch -show window

exec --no-startup-id systemctl --user start xsession.target
exec --no-startup-id $HOME/.local/bin/auto-lock &
exec --no-startup-id picom -b
exec --no-startup-id redshift-gtk
exec --no-startup-id dunst-launch
exec --no-startup-id ~/.fehbg

# restart i3 inplace
bindsym $super+$shift+r exec $HOME/.local/bin/i3-launch restart

# exit i3
bindsym $super+$shift+e exec "i3-nagbar -f 'pango:{{ $font_nag }}' -t warning -m 'Exit i3?' -b 'Yes' 'i3-msg exit'"

# Screenshots
bindsym $super+$shift+s --release exec "scrot -s $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"
bindsym Print exec "scrot $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"
bindsym $shift+Print exec "scrot -u $HOME/Pictures/Screenshots/$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"

# Turn off displays, delay for button release
bindsym $super+Pause exec sleep 1 && xset dpms force off

exec_always --no-startup-id $HOME/.local/bin/bar/polybar-launch

# Restore workspaces
exec --no-startup-id $HOME/.local/bin/i3-restore &

{{- if lookPath "numlockx" }}
exec --no-startup-id numlockx on &
{{- end }}
