{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
# set modifier
set $super Mod4
set $alt Mod1

# set font
font pango: Noto Sans 10

# Use Mouse+$alt to drag floating windows to their wanted position
floating_modifier $alt

focus_follows_mouse no

default_border pixel 2

# No borders for monitoring windows
for_window [class="kitty"] border normal 2
for_window [class="kitty" title="self-monitoring"] border none
for_window [class="kitty" title="server-monitoring"] border none

for_window [class="Alacritty"] border normal 2
for_window [class="Alacritty" title="self-monitoring"] border none
for_window [class="Alacritty" title="server-monitoring"] border none

exec_always --no-startup-id $HOME/.config/polybar/launch.sh

{{- if $is_desktop }}
# assignments
assign [class="Spotify"] 2
assign [class="discord"] 2

# Don't need borders either
for_window [class="Spotify"] border none
for_window [class="discord"] border none

# Display stuff
# Also edit /usr/share/sddm/scripts/Xsetup
exec --no-startup-id xrandr --output HDMI-0 --mode 3840x2160 --rate 60 --rotate right --pos 0x0 --output DP-0 --primary --mode 3840x2160 --rate 120 --pos 2160x1680 --output DP-2 --off
# exec --no-startup-id xrandr --output HDMI-0 --mode 3840x2160 --rate 60 --right-of DP-0 --output DP-0 --primary --mode 3840x2160 --rate 120 --output DP-2 --off
# Lower mouse sensitivity
exec --no-startup-id xinput set-prop 'Logitech Gaming Mouse G502' 'libinput Accel Speed' -0.5
{{- end }}
exec --no-startup-id $HOME/.config/i3/xidlehook.sh &
exec --no-startup-id picom {{ if $is_desktop }}--backend xrender --refresh-rate 120{{- end }} -b
exec --no-startup-id redshift-gtk
exec --no-startup-id dunst
exec --no-startup-id ~/.fehbg
exec --no-startup-id $HOME/.config/i3/mount-sshfs.sh &

{{- if $is_desktop }}
# Start stuff
exec --no-startup-id "spotify --force-device-scale-factor=1.5 &"
exec --no-startup-id discord &
exec --no-startup-id kitty --title self-monitoring tmuxinator start hjn &
exec --no-startup-id $HOME/.config/i3/ssh-monitoring.sh &
exec --no-startup-id "i3-msg 'workspace 2; append_layout /home/andrei/.config/i3/workspace-secondary-rotated.json'"
{{- else }}
# Brightness and power buttons on laptop, install xfce4-power-manager
exec --no-startup-id xfce4-power-manager
{{- end }}
exec --no-startup-id firefox &
exec --no-startup-id alacritty &
{{- if $is_desktop }}
exec --no-startup-id "i3-msg 'workspace 1; append_layout /home/andrei/.config/i3/workspace-main.json'"

# Nvidia OC
exec --no-startup-id nvidia-settings -a "[gpu:0]/GPUGraphicsClockOffset[3]=50" -a "[gpu:0]/GPUMemoryTransferRateOffset[3]=1000"
{{- end }}

# kill focused window
bindsym $super+q kill
bindsym $alt+F4 kill

# start a terminal
bindsym $super+Shift+Return exec kitty
bindsym $super+Return exec alacritty
# Alacritty shortcuts
{{- if .dresrv.use_domain }}
bindsym Control+$alt+1 exec alacritty -e ssh -X andrei@dresrv.com
bindsym Control+$alt+2 exec alacritty -e ssh -t andrei@dresrv.com 'sudo -i'
{{- else }}
bindsym Control+$alt+1 exec alacritty -e ssh -X andrei@DreSRV
bindsym Control+$alt+2 exec alacritty -e ssh root@DreSRV
{{- end }}

# start dmenu (a program launcher)
bindsym $super+d exec rofi -show drun

# alt-tab
bindsym $alt+Tab exec rofi -show window 


set $up Up
set $down Down
set $left Left
set $right Right

# change focus
bindsym $super+$left focus left
bindsym $super+$down focus down
bindsym $super+$up focus up
bindsym $super+$right focus right

# move focused window
bindsym $super+Shift+$left move left
bindsym $super+Shift+$down move down
bindsym $super+Shift+$up move up
bindsym $super+Shift+$right move right

# split in horizontal orientation
bindsym $super+h split h

# split in vertical orientation
bindsym $super+v split v

# enter fullscreen mode for the focused container
bindsym $super+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $super+s layout stacking
bindsym $super+w layout tabbed
bindsym $super+e layout toggle split

# toggle tiling / floating
bindsym $super+space floating toggle

# change focus between tiling / floating windows
bindsym $super+Shift+space focus mode_toggle

# focus the parent container
bindsym $super+a focus parent

# focus the child container
bindsym $super+Shift+a focus child

# move the currently focused window to the scratchpad
bindsym $super+Shift+minus move scratchpad

# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $super+minus scratchpad show

# Screenshots
bindsym $super+Shift+s exec spectacle --region
bindsym Print exec spectacle --background --fullscreen
bindsym Shift+Print exec spectacle --activewindow

# Lock screen and turn monitors off after 30 seconds
bindsym $super+l exec "betterlockscreen -l dim & sleep 30 && xset dpms force off"

# switch to workspace
bindsym $alt+Control+Right move window to workspace next
bindsym $alt+Control+Left move window to workspace prev
bindsym $super+Control+Right move container to workspace next
bindsym $super+Control+Left move container to workspace prev
bindsym $super+1 workspace 1
bindsym $super+2 workspace 2
bindsym $super+3 workspace 3
bindsym $super+4 workspace 4
bindsym $super+5 workspace 5
bindsym $super+6 workspace 6
bindsym $super+Shift+1 move container to workspace 1
bindsym $super+Shift+2 move container to workspace 2
bindsym $super+Shift+3 move container to workspace 3
bindsym $super+Shift+4 move container to workspace 4
bindsym $super+Shift+5 move container to workspace 5
bindsym $super+Shift+6 move container to workspace 6

# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $super+Shift+r restart

# exit i3
bindsym $super+Shift+e exec "i3-nagbar -f 'pango:Noto Sans:20' -t warning -m 'Really, exit?' -b 'Yes' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
    bindsym Left resize shrink width 5 px or 5 ppt
    bindsym Down resize shrink height 5 px or 5 ppt
    bindsym Up resize grow height 5 px or 5 ppt
    bindsym Right resize grow width 5 px or 5 ppt
    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+r mode "resize"


##### Pulse Audio controls #####
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5% #decrease sound volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle # mute sound

##### Media controls #####
bindsym XF86AudioPlay exec "playerctl --ignore-player=chromium,firefox play-pause"
bindsym XF86AudioNext exec "playerctl --ignore-player=chromium,firefox next"
bindsym XF86AudioPrev exec "playerctl --ignore-player=chromium,firefox previous"

for_window [class="Pavucontrol"] floating enable; border normal
for_window [class="firefox" title="Picture-in-Picture"] border none

##### i3 with KDE stuff #####
# for_window [title="Desktop — Plasma"] kill; floating enable; border none
# for_window [class="plasmashell"] floating enable;
# for_window [class="Plasma"] floating enable; border none
# for_window [title="plasma-desktop"] floating enable; border none
# for_window [title="win7"] floating enable; border none
# for_window [class="krunner"] floating enable; border none
# for_window [class="Kmix"] floating enable; border none
# for_window [class="Klipper"] floating enable; border none
# for_window [class="Plasmoidviewer"] floating enable; border none
# for_window [class="(?i)*nextcloud*"] floating disable
# for_window [class="plasmashell" window_type="notification"] floating enable, border none, move down 950, move right 1630
# no_focus [class="plasmashell" window_type="notification"] 
