{{- $is_desktop := eq .chezmoi.hostname "desktop" -}}
#!/bin/bash

# Wait for SSH agent
while [[ -z $SSH_AUTH_SOCK ]]; do sleep 1; done

# Start terminal
kitty --title server-monitoring ssh -t root@{{- if $is_desktop }}DreSRV{{- else }}dresrv.com{{- end}} 'tmux attach -t hjd' &
