# Task Scheduler
# Program: powershell.exe
# Arguments: -WindowStyle hidden -File %LOCALAPPDATA%\MyBin\tunnel-dresrv.ps1
# After network

ssh -N `
{{- if eq .chezmoi.hostname "desktop" }}
    -R 17766:localhost:7766 `
{{- else }}
    -R 27766:localhost:7766 `
{{- end }}
    -i {{ .chezmoi.homedir }}/.ssh/id_ed25519.prom `
    prom-tunnel@dresrv.com
