{{- $font_nag := default "Noto Sans 14" (env "FONT_NAG") -}}
{{ template "i3-sway" dict "wm" "sway" "work" .ssh.include_work }}

### Sway specific ###

# Output defaults
{{- if .is.laptop }}
set $laptop eDP-1
set $work_main {{ .sway.monitors.work1 | quote }}
set $work_secondary {{ .sway.monitors.work2 | quote }}
{{- end }}
set $home_main {{ .sway.monitors.home1 | quote }}
set $home_secondary {{ .sway.monitors.home2 | quote }}
set $home_tv {{ .sway.monitors.home3 | quote }}

titlebar_border_thickness 1
titlebar_padding 5 2
smart_borders on

for_window [app_id="pavucontrol"] floating enable; border normal
for_window [app_id="jetbrains-toolbox"] floating enable; border none
for_window [app_id="org.gnome.Calculator"] floating enable; border none
for_window [app_id="discord" title="Discord Updater"] floating enable; border none
no_focus [app_id="discord" title="Discord Updater"]
# Jetbrains splash window
for_window [app_id="jetbrains-\w+" title="^win0$"] floating enable; border none
for_window [app_id="jetbrains-\w+" title="^(?i)welcome\sto\s\w+$"] floating enable; border none
# Evaluation window
for_window [app_id="jetbrains-\w+" title="\w+\sEvaluation"] floating enable; border normal
# PiP
for_window [app_id="(firefox|chromium)" title="(?i)^Picture(\s|-)in(\s|-)Picture$"] border none
# Thunar
for_window [app_id="thunar" title="File Operation Progress"] floating enable; border none
# Java iKVM
for_window [app_id=null title="^Java iKVM Viewer.*"] floating enable
no_focus [app_id=null title="^Java iKVM Viewer.*"]
# Cisco AnyConnect
for_window [app_id="com\.cisco\.anyconnect\.gui"] floating enable
# Firefox sharing indicator
for_window [app_id="firefox" title="Firefox — Sharing Indicator"] floating enable; border none
# Fix chrome apps keyboard inhibit
# https://www.reddit.com/r/swaywm/comments/vkgfza/chromium_v103_application_mode_app_and_weird/
for_window [app_id="^chrome-.*"] shortcuts_inhibitor disable
# Bluetooth Manager
for_window [app_id="blueman-manager"] floating enable

exec_always "dbus-update-activation-environment --systemd DISPLAY PATH I3SOCK XDG_SESSION_ID SSH_AUTH_SOCK XDG_SESSION_DESKTOP XDG_SESSION_TYPE XDG_CURRENT_DESKTOP WAYLAND_DISPLAY; systemctl --user start sway-session.target"

{{- if not (contains "wayland" (output "rofi" "-version")) }}
bindsym $super+d exec wofi --gtk-dark --allow-images --allow-markup --show drun
{{- if lookPath "swayr" }}
bindsym $alt+Tab exec swayr switch-window
{{- end }}
{{- end }}
{{- if lookPath "clipman" }}
bindsym $super+c exec clipman pick -t wofi -T'--gtk-dark'
{{- end }}

{{- if lookPath "wtype" }}
bindsym $super+$shift+v exec wl-paste | wtype -d 50 -
{{- end }}

# Needs wl-clipboard grim slurp
bindsym $super+$shift+s exec grim -g "$(slurp)" - | tee $HOME/Pictures/Screenshots/$(date +%F_%T).png | wl-copy

bindsym --locked $super+Pause exec sleep 1 && swaymsg output '*' power off
bindsym --locked $super+KP_Subtract exec sleep 1 && swaymsg output '*' power off
bindsym --locked $super+$shift+KP_Enter exec swaymsg output '*' power on && systemctl --user restart kanshi.service

# Needs swaybg
output "*" bg $HOME/.wallpaper fill

bindsym $super+$shift+r exec swaymsg reload && systemctl --user restart kanshi.service

bindsym $super+$shift+e exec "swaynag -f 'pango:{{ $font_nag }}' -t warning -m 'Exit sway?' -b 'Yes' 'systemctl --user stop sway-session.target; swaymsg exit'"

mode "system" {
    bindsym w exec systemctl --user restart waybar, mode "default"
    bindsym k exec systemctl --user restart kanshi, mode "default"
    bindsym a exec systemctl --user restart waybar swayidle kanshi, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+semicolon mode "system"

input type:keyboard {
    xkb_numlock enable
    xkb_layout "us,no"
    xkb_options "grp:rctrl_rshift_toggle"
}

input type:touchpad {
    dwt enabled
    tap enabled
    natural_scroll enabled
    scroll_factor 0.5
}

input type:pointer {
    accel_profile flat
}

{{- if .is.laptop }}
output $laptop scale 1.25
output $work_main scale 1.25
output $work_secondary scale 1.5 transform 270
workspace 1 output $laptop
workspace 2 output $work_main $home_main
workspace 3 output $work_secondary $laptop
workspace 4 output $laptop
workspace 5 output $work_main $home_main
{{- end }}

output $home_main scale 1.25 mode 3840x2160@143.999Hz
output $home_secondary scale 1.5

{{- if .is.desktop }}
output $home_tv disable
workspace 1 output $home_main
workspace 2 output $home_secondary
{{- end }}

# Only disable laptop display if it isn't the only display
bindswitch --locked lid:on exec [ "$(swaymsg -r -t get_outputs | jq -r '.[].name')" = "eDP-1" ] || swaymsg output eDP-1 disable
bindswitch --locked lid:off exec [ "$(swaymsg -r -t get_outputs | jq -r '.[].name')" = "eDP-1" ] || swaymsg output eDP-1 enable

# Restore workspaces
exec $HOME/.local/bin/sway-restore &

include /etc/sway/config.d/*
