{{- $font_nag := default "Noto Sans 14" (env "FONT_NAG") -}}
{{ template "i3-sway" "sway" }}

### Sway specific ###

titlebar_border_thickness 1
titlebar_padding 5 2
smart_borders on

for_window [app_id="pavucontrol"] floating enable; border normal
for_window [app_id="jetbrains-toolbox"] floating enable; border none
for_window [app_id="gnome-calculator"] floating enable; border none
for_window [app_id="discord" title="Discord Updater"] floating enable; border none
no_focus [app_id="discord" title="Discord Updater"]
# Jetbrains splash window
for_window [app_id="jetbrains-\w+" title="^win0$"] floating enable; border none
for_window [app_id="jetbrains-\w+" title="^(?i)welcome\sto\s\w+$"] floating enable; border none
# Evaluation window
for_window [app_id="jetbrains-\w+" title="\w+\sEvaluation"] floating enable; border normal
# PiP
for_window [app_id="(firefox|chromium)" title="(?i)^Picture(\s|-)in(\s|-)Picture$"] border none
# Thunar
for_window [app_id="thunar" title="File Operation Progress"] floating enable; border none
# Java iKVM
for_window [app_id=null title="^Java iKVM Viewer.*"] floating enable
no_focus [app_id=null title="^Java iKVM Viewer.*"]
# Cisco AnyConnect
for_window [app_id="com\.cisco\.anyconnect\.gui"] floating enable

exec_always "systemctl --user import-environment; systemctl --user start sway-session.target"

bindsym $super+d exec wofi --gtk-dark --allow-images --allow-markup --show drun

# Needs wl-clipboard grim slurp
bindsym $super+$shift+s exec grim -g "$(slurp)" - | tee $HOME/Pictures/Screenshots/$(date +%F_%T).png | wl-copy

bindsym --locked $super+Pause exec sleep 1 && swaymsg output '*' dpms off
bindsym --locked $super+KP_Subtract exec sleep 1 && swaymsg output '*' dpms off
bindsym --locked $super+$shift+KP_Enter exec swaymsg output '*' dpms on

# Needs swaybg
output "*" bg $HOME/.wallpaper fill

bindsym $super+$shift+r exec swaymsg reload && systemctl --user restart kanshi.service

bindsym $super+$shift+e exec "swaynag -f 'pango:{{ $font_nag }}' -t warning -m 'Exit sway?' -b 'Yes' 'swaymsg exit'"

mode "system" {
    bindsym w exec systemctl --user restart waybar, mode "default"
    bindsym k exec systemctl --user restart kanshi, mode "default"
    bindsym a exec systemctl --user restart waybar swayidle kanshi, mode "default"

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $super+semicolon mode "system"

input * {
    xkb_numlock enable
    xkb_layout "us,no"
    xkb_options "grp:rctrl_rshift_toggle"
}

input type:touchpad {
    dwt enabled
    tap enabled
    natural_scroll enabled
    scroll_factor 0.5
}

input "1133:16511:Logitech_G502" {
    accel_profile flat
}

output {
    eDP-1 scale 2
    "Goldstar Company Ltd LG HDR 4K 0x00008DDC" scale 1.5
    "Goldstar Company Ltd LG HDR 4K 0x00000B9F" scale 1.5
    "Unknown Gigabyte M32U 21311B001327" scale 1.25
    "Samsung Electric Company U24E850 HTHH300363" scale 1.5
{{- if .is.desktop }}
    "Goldstar Company Ltd LG TV 0x00000101" disable
{{- end }}
}

include /etc/sway/config.d/*
