{{- $font_nag := default "Noto Sans 14" (env "FONT_NAG") -}}
{{ template "i3-sway" }}

### Sway specific ###

exec_always "systemctl --user import-environment; systemctl --user start sway-session.target"

bindsym $super+d exec wofi --gtk-dark --allow-images --allow-markup --show drun

# Needs wl-clipboard grim slurp
bindsym $super+$shift+s exec grim -g "$(slurp)" - | wl-copy

bindsym $super+Pause exec sleep 1 && swaymsg output '*' dpms off
bindsym $super+KP_Subtract exec sleep 1 && swaymsg output '*' dpms off
bindsym --locked $super+$shift+KP_Enter exec swaymsg output '*' dpms on

# Needs swaybg
output "*" bg $HOME/.wallpaper fill

bindsym $super+$shift+r reload

bindsym $super+$shift+e exec "swaynag -f 'pango:{{ $font_nag }}' -t warning -m 'Exit sway?' -b 'Yes' 'swaymsg exit'"

input * {
    xkb_numlock enable
    xkb_layout "us,no"
    xkb_options "grp:rctrl_rshift_toggle"
}

input type:touchpad {
    dwt enabled
    tap enabled
    natural_scroll enabled
    scroll_factor 0.5
}

bar {
    swaybar_command waybar
}

include /etc/sway/config.d/*
