[Added Associations]
application/json=sublime_text.desktop;
application/octet-stream=vim.desktop;
application/pdf=org.gnome.Evince.desktop;firefox.desktop;google-chrome.desktop;
application/vnd.ms-publisher=sublime_text.desktop;
application/x-7z-compressed=org.gnome.FileRoller.desktop;
application/x-extension-htm={{ .default_browser }};
application/x-extension-html={{ .default_browser }};
application/x-extension-shtml={{ .default_browser }};
application/x-extension-xht={{ .default_browser }};
application/x-extension-xhtml={{ .default_browser }};
application/x-ms-dos-executable=wine.desktop;
application/x-wine-extension-ini=sublime_text.desktop;
application/x-zerosize=sublime_text.desktop;
application/xhtml+xml={{ .default_browser }};
application/xml=sublime_text.desktop;
application/zip=org.gnome.FileRoller.desktop;
image/heif=org.gnome.eog.desktop;
image/jpeg=org.gnome.eog.desktop;
image/png=pinta.desktop;org.gnome.eog.desktop;gpicview.desktop;org.kde.gwenview.desktop;org.kde.kolourpaint.desktop;
image/x-tga=org.gnome.GHex.desktop;org.kde.okteta.desktop;
inode/directory=visual-studio-code.desktop;thunar.desktop;org.kde.dolphin.desktop;jetbrains-pycharm-ce.desktop;
text/html={{ .default_browser }};
text/plain=sublime_text.desktop;
x-scheme-handler/chrome={{ .default_browser }};
x-scheme-handler/ftp={{ .default_browser }};
x-scheme-handler/http={{ .default_browser }};
x-scheme-handler/https={{ .default_browser }};

[Default Applications]
application/json=sublime_text.desktop
application/pcx=org.gnome.eog.desktop
application/pdf=org.gnome.Evince.desktop
application/x-extension-htm={{ .default_browser }}
application/x-extension-html={{ .default_browser }}
application/x-extension-shtml={{ .default_browser }}
application/x-extension-xht={{ .default_browser }}
application/x-extension-xhtml={{ .default_browser }}
application/x-zerosize=sublime_text.desktop
application/xhtml+xml={{ .default_browser }}
application/zip=org.gnome.FileRoller.desktop
image/bmp=org.gnome.eog.desktop
image/gif=org.gnome.eog.desktop
image/jpeg=org.gnome.eog.desktop
image/jpg=org.gnome.eog.desktop
image/png=org.gnome.eog.desktop
image/svg-xml=org.gnome.eog.desktop
image/svg+xml=org.gnome.eog.desktop
image/tiff=org.gnome.eog.desktop
image/x-bmp=org.gnome.eog.desktop
image/x-pcx=org.gnome.eog.desktop
image/x-portable-bitmap=org.gnome.eog.desktop
image/x-portable-greymap=org.gnome.eog.desktop
image/x-portable-pixmap=org.gnome.eog.desktop
image/x-targa=org.gnome.eog.desktop
image/x-tga=org.gnome.eog.desktop
inode/directory=thunar.desktop;
text/html={{ .default_browser }}
text/plain=sublime_text.desktop;
x-scheme-handler/chrome={{ .default_browser }}
x-scheme-handler/ftp={{ .default_browser }}
x-scheme-handler/http={{ .default_browser }}
x-scheme-handler/https={{ .default_browser }}
x-scheme-handler/jetbrains=jetbrains-toolbox.desktop
